/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Karla', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rubik', sans-serif;
  line-height: 1.2;
  margin: 0 0 1rem 0;
}
h1 {
  font-size: 2.8rem;
}
h2 {
  font-size: 2.4rem;
}
h3 {
  font-size: 2.2rem;
}
p {
  font-size: 1.8rem;
  line-height: 1.2;
  color: #191919;
  margin: 0 0 0.8rem 0;
}
a {
  font-size: 1.6rem;
}
button {
  font-family: 'Karla', sans-serif;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1.5rem;
}
.align-center {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.col-half {
  width: 48%;
  padding-right: 1%;
}
@media (max-width: 768px) {
  .col-half {
    width: 100%;
    padding: 0 2%;
  }
}
.hero header {
  padding: 2rem 0 0;
}
.main-navigation {
  display: flex;
  justify-content: space-evenly;
}
.main-navigation a {
  color: #fcfcfc;
  font-size: 1.9rem;
  text-decoration: none;
  display: inline-block;
}
.main-footer {
  background: #889696;
  padding: 3rem 0;
}
.main-footer p {
  color: #fcfcfc;
}
.prefooter {
  background: #e0e2db;
  padding: 5rem 0 3rem;
}
.prefooter .container {
  text-align: center;
}
.prefooter h2 {
  margin-bottom: 2.5rem;
}
.hero {
  background: linear-gradient(90deg, #020024 7%, #26665b 59%, #0e2d33 100%);
  padding: 0 0 8rem;
  background-size: cover;
}
.hero--content {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10rem 1.5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero--content h1 {
  color: #fcfcfc;
  margin-bottom: 1.5rem;
}
.hero--content p {
  color: #fcfcfc;
  max-width: 620px;
  text-align: center;
  margin: 0 auto 2.5rem;
}
.alternating-content {
  margin: 3rem 0;
}
.alternating-content .col-half:last-child {
  margin-left: 3%;
}
@media (max-width: 768px) {
  .alternating-content .col-half:last-child {
    margin-left: 0;
  }
}
.alternating-content h2 {
  margin-bottom: 1.5rem;
}
.button {
  text-decoration: none;
  padding: 1.4rem 2rem;
  display: inline-block;
  font-size: 1.8rem;
  border-radius: 1rem;
  border: 0;
  box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.35);
}
.button:hover {
  cursor: pointer;
}
.button--white {
  background: #fcfcfc;
  color: #191919;
}
.middle-content {
  margin: 10rem 0;
}
.middle-content .text-content {
  max-width: 570px;
  margin: 0 auto;
  text-align: center;
}
.middle-content .text-content h2 {
  margin-bottom: 1rem;
}
.cards {
  margin: 3rem 0 5rem;
}
.cards .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.cards .card {
  background: #fcfcfc;
  padding: 2.5rem 3rem;
  border-radius: 1rem;
  box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.35);
  max-width: 25%;
  margin-bottom: 1.5rem;
}
@media (max-width: 768px) {
  .cards .card {
    max-width: 100%;
  }
}
.team-members {
  margin: 3.5rem 0;
}
.team-members .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.team-members .team-member {
  background: #e0e2db;
  padding: 2rem;
  margin: 1.5rem 0;
}
