.alternating-content {
	margin: 6rem 0 4rem;

	@supports @grid {
		.container {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-gap: 15px;

			@media @tablet {
				grid-template-columns: 1fr;
			}
		}
	}

	.col-half:last-child {
		@media @tablet {
			margin-top: 2rem;
		}
	}

	@supports not @grid {
		.col-half:last-child {
			margin-left: 3%;
		}
	}

	h2 {
		margin-bottom: 1.5rem;
	}
}

.middle-content {
	margin: 8rem 0 10rem;

	@media @tablet {
		margin: 4rem 0 6rem;
	}

	.text-content {
		max-width: 570px;
		margin: 0 auto;
		text-align: center;

		h2 {
			margin-bottom: 1rem;
		}
	}
}

.cards {
	margin: 3rem 0 8rem;
	@media @tablet {
		margin: 3rem 0 5rem;
	}


  @supports @grid {
    .container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 15px;

      @media @tablet {
        grid-template-columns: repeat(2, 1fr);
      }

      @media @mobile {
        grid-template-columns: 1fr;
      }
    }

  }

  @supports not @grid {
    .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .card {
      max-width: 25%;

      @media (max-width: 1015px) {
        max-width: 48%;
        width: 50%;
      }

      @media @tablet {
        max-width: 100%;
        width: 100%;
        margin-bottom: 2.5rem;
      }  
    }
  }

	.card {
		background: @white;
		padding: 2.5rem 3rem;
		border-radius: 1rem;
		.box-shadow();
    margin-bottom: 1.5rem;
    
		h3 {
			font-size: 2.4rem;
		}

		li {
			font-size: 1.8rem;
			line-height: 1.2;
			margin-top: 2rem;
		}
	}
}
