.hero {
  header {
    padding: 2rem 0 0;
  }
}
.main-navigation {
  display: flex;
  justify-content: space-evenly;

  a {
    color: @white;
    font-size: 1.9rem;
    text-decoration: none;
    display: inline-block;
  }
}