.prefooter {
  background: @westar;
  padding: 5rem 0 3rem;

  .container {
    text-align: center;
  }

  h2 {
    margin-bottom: 2.5rem;
  }

  p {
    max-width: 690px;
    margin: 0 auto 2.2rem;
  }
  
}